<div class="footer">
    <h1>MNUFC</h1>
    <p>&copy; <span id="year"></span> BGWG Monster. All Rights Reserved.</p>

  </div>
  <script>
    // Get the current year
    const currentYear = new Date().getFullYear();
  
    // Insert the current year into the element with the id 'year'
    document.getElementById('year').textContent = currentYear;
    



  </script>