<div class="header">
    <!-- <h1>Mountain Dew</h1> -->
    <!-- <button>Add-Site</button> -->
  </div>
  <script>
    const token  = localStorage.getItem('token')
    if(!token){
      window.location.href="/admin/login"
    }
    </script>